*{
  margin: 0;
}

h1 {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

p {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #000;
}

.grid {
  width: 600px;
  height: 610px;
  border: 5px solid rgba(11, 43, 228, 0.5);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  height: 200px;
  border: solid 3px rgba(11, 43, 228, 0.5);
}

.red {
  background: rgba(27, 61, 252, 0.8);
}